<div
    style="display: none; font-size: 1px; color: #fefefe; line-height: 1px; font-family: Helvetica, Arial, sans-serif; max-height: 0px; max-width: 0px; opacity: 0; overflow: hidden;"
>
  Share your experience to shape wellbeing worldwide.
</div>
<table border="0" width="100%" cellspacing="0" cellpadding="0">
  <tbody>
  <tr>
    <td align="center">
      <img src="{{ SITE_URL }}/static/email_header_footer/email_header.png"/>
    </td>
  </tr>
  <tr>
    <td
        class="section-padding"
        style="padding: 4px 15px 4px 15px;"
        align="center"
    >
      <!-- [if (gte mso 9)|(IE)]>
      <table align="center" border="0" cellspacing="0" cellpadding="0" width="715">
        <tr>
          <td align="center" valign="top" width="715">
      <![endif]-->
      <table
          class="responsive-table"
          style="max-width: 715px;"
          border="0"
          width="100%"
          cellspacing="0"
          cellpadding="0"
      >
        <tbody>
        <tr>
          <td style="padding: 25px 0;" align="center" bgcolor="#ffffff">
            <table border="0" width="80%" cellspacing="0" cellpadding="0">
              <tbody>
              <tr>
                <td>
                  <!-- COPY -->
                  <table
                      border="0"
                      width="100%"
                      cellspacing="0"
                      cellpadding="0"
                  >
                    <tbody>
                    <tr>
                      <td class="padding">
                        <p>
                          <strong>Dear {{ first_name }},</strong>
                        </p>
                        <p>
                          We know this is an especially difficult time for many people, and that you may be facing unique challenges as you care for and serve others. We are here to help! We have several new wellbeing resources for you and more are in development.
                        </p>
                        <h3>Mobile App</h3>
                        <p>
                          Our newest mobile applications are now on the Apple Store and Google Play. There are major upgrades. You will find a library of science-based wellbeing practices delivered by a variety of experts. You can complete our comprehensive assessment and receive your personal wellbeing profile. Based upon that profile, the app will recommend practices that fit your wellbeing needs and provide insights. You can update your profile every six months to track changes in your wellbeing. We will continue to add new practice series regularly, including a series for parents with small children and one on spiritual nourishment.
                        </p>
                        <p>
                          To access the app (if you haven't already)
                        </p>
                        <ol>
                          <li>Go to the <a href="https://apps.apple.com/us/app/workwell-research/id1434428613">Apple App store</a> or <a href="https://play.google.com/store/apps/details?id=edu.nd.workwell">Google Play store</a> and search WorkWell Research.</li>
                          <li>Download the app.</li>
                          <li>It is easy to create an account, using the referral code: {{ referral_code }}.</li>
                          <li>If you happen to get an error message that your email is already in use, click <q>log in</q> and there will be a link for you to create a new password.</li>
                        </ol>
                        <h3>
                          New website
                        </h3>
                        <p>
                          We also have a new website where you can find research insights and other resources. We will add new features over the coming weeks including video mini-courses on a variety of topics, a short podcast series, and audio wellbeing practices.
                        </p>
                        <p>
                          One of our top goals continues to be learning how we can support helping and care giving professionals better. We welcome your thoughts and comments about what you find most helpful. Please visit our website at <a href="https://www.workwellresearch.org">workwellresearch.org</a>.
                        </p>
                        <p>
                          Our very best wishes to you,
                        </p>
                        <p>
                          The Flourishing in Ministry/WorkWell team
                        </p>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
              <tr>
                <td align="center"><!-- BULLETPROOF BUTTON --></td>
              </tr>
              </tbody>
            </table>
          </td>
        </tr>
        </tbody>
      </table>
      <!-- [if (gte mso 9)|(IE)]>
      </td>
      </tr>
      </table>
      <![endif]-->
    </td>
  </tr>
  <tr>
    <td align="center">
      <img src="{{ SITE_URL }}/static/email_header_footer/email_footer.png"/>
    </td>
  </tr>
  </tbody>
</table>
