Django==3.1.3
# TODO: Need to add Expo SDK, Twilio, etc
html2text==2018.1.9
twilio==6.29.1
exponent_server_sdk==0.3.1          # A module used to send push notifications to Exponent Experiences

Sphinx==2.2.0                       # Documentation Tool
sphinx-rtd-theme==0.4.3             # Sphinx Theme
sphinxcontrib-httpdomain==1.7.0     # API plugin for Readthedocs